.wrap{
  width: 100%;
  height: 100%;
  background: #ebeced;
  .header{
    height: 50px;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
    .title1{
      font-weight: bold;
      font-size: 15px;
      color: #333;
    }
    .rightIcon{
      position: absolute;
      right:10px;
      top:0px;
      .liIcon{
        display: inline-block;
        margin-left: 5px;
        a{
          color: #333;
        }
      }
    }
  }
  .contentWrap{
    padding: 10px;
    //height: 100%;
    .productUl{
      margin-bottom: 10px;
      width: 100%;
      overflow-x: scroll;
      white-space: nowrap;
      .productLi{
        display: inline-block;
        margin-right: 10px;
        position: relative;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 5px;
      }
    }

  }
}

.cartWrap{
  text-align: center;
  .emptyCartTitle{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
  }
  .goToListButton{
    text-align: center;
    border:1px solid #ccc;
    border-radius: 15px;
    margin-top: 20px;
    a{
      color: #333;
    }
  }
}

.totalCountWrap{
  margin-top: 30px;
  text-align: right;
  .totalCount{

  }
}

.buyButton{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border:1px solid #ccc;
  border-radius: 15px;
}

.categoryUl{
  margin-bottom: 5px;
  .categoryLi{
    display: inline-block;
    position: relative;
    + .categoryLi{
      padding-left: 5px;
      &:before{
        content: ',';
        display: block;
        position: absolute;
        bottom: 0;
        left:0;
      }
    }
  }
}

.cardBoxUl{
  .cardBoxLi{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .cardBoxImg{
      width: 100px;
      height: 100px;
      display: block;
    }
    .titleSet{
      position: absolute;
      left:130px;
      top:10px;
      text-align: left;
      .stationeryName{
        margin-bottom: 5px;
      }
      .stationeryPrice{
        margin-bottom: 5px;
      }
      .stationeryStock{

      }
    }
    .addCart{
      position: absolute;
      right:10px;
      bottom:10px;
      border:1px solid #ccc;
      border-radius: 15px;
    }
    .deleteCart{
      position: absolute;
      right:60px;
      bottom:10px;
      border:1px solid #ccc;
      border-radius: 15px;
    }
  }
}

.listPageWrap{
  padding-top: 50px;
}

.cartPageWrap{
  padding-top: 50px;
}

.moreButton{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
