.Wrap{
  width: 100%;
  height: 100%;
  .header{
    height: 50px;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: relative;
    .title1{
      font-weight: bold;
      font-size: 15px;
      color: #333;
    }
    .rightIcon{
      position: absolute;
      right:10px;
      top:0px;
      .liIcon{
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  .contentWrap{
    background: #ebeced;
    height: 100%;
    padding: 10px;
    .productUl{
      margin-bottom: 10px;
      .productLi{
        display: inline-block;
        margin-right: 10px;
        position: relative;
        box-sizing: border-box;
      }
    }
    .cardBoxUl{
      .cardBoxLi{
        padding: 10px;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 10px;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .cardBoxImg{
          width: 50px;
          height: 100px;
          display: block;
        }
        .titleSet{
          position: absolute;
          left:80px;
          top:10px;
          .categoryUl{
            margin-bottom: 5px;
            .categoryLi{
              display: inline-block;
            }
          }
          .tit1{
            margin-bottom: 5px;
          }
          .tit2{
            margin-bottom: 5px;
          }
          .tit3{

          }
        }
        .addCart{
          position: absolute;
          right:10px;
          bottom:10px;
        }
      }
    }
  }
}
